#renderAPI {
  width: 300px;
  height: 300px;
}

#des {
  color: red;
  font-size: 15px;
}
#food {
  color: green;
}

#ingredients {
  color: orange;
}

#hops {
  color: purple;
}

#theImg {
  width: 100px;
  height: 100px;
}
